---
import { getLangFromUrl, useTranslations } from '~/i18n';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import ProjectCard from '~/components/home/projects/ProjectCard';
import { render } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const projects = await Promise.all(
  (
    await getCollection('projects', ({ id }) => {
      return id.startsWith(`${lang}/`);
    })
  ).map(async (project) => ({
    ...project,
    content: await render(project),
  })),
);
---

<section id="projects" class="grid w-full place-content-center py-24">
  <h1
    class="bg-gradient-to-br from-purple-950 to-purple-700 to-80% bg-clip-text leading-normal text-transparent dark:from-slate-500 dark:from-0% dark:to-slate-50 dark:to-100%"
  >
    {t('projects.title')}
  </h1>
  <h2>
    {t('projects.subtitle')}
  </h2>
  <div class="container grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    {
      projects.map((project) => (
        <ProjectCard project={project} lang={lang} client:visible>
          <Image
            src={project.data.featuredImage}
            alt={project.data.title}
            width={600}
            height={400}
            class="aspect-video w-full object-cover"
            slot="image"
          />
          <project.content.Content slot="content" />
        </ProjectCard>
      ))
    }
  </div>
</section>

<style>
  @keyframes appear {
    from {
      opacity: 0;
      translate: 0 50%;
    }
  }

  article {
    animation: appear both var(--ease-spring-1);
    animation-timeline: view();
    animation-range: entry;
  }
</style>
