---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { Image } from '@astrojs/image/components';
import { getCollection } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const experiences = (
  await getCollection('experiences', ({ id }) => {
    return id.startsWith(`${lang}.`);
  })
)[0].data.experiences;
---

<section id="experiences" class="my-24 flex flex-col items-center">
  <h1
    class="bg-gradient-to-br from-slate-900 to-purple-700 to-[40%] bg-clip-text text-transparent"
  >
    {t('experiences.title')}
  </h1>
  <h2>
    {t('experiences.subtitle')}
  </h2>
  <div
    class="container my-10 flex items-end overflow-y-hidden overflow-x-scroll px-2 py-4 md:snap-none"
  >
    {
      experiences.map((exp) => (
        <article>
          <div class="content mx-4 flex w-max max-w-[400px] snap-center items-center justify-center gap-3 rounded-md border border-gray-300 bg-stone-50 bg-opacity-60 px-6 py-4 shadow transition-shadow hover:shadow-md dark:border-gray-700  dark:bg-gray-900 dark:text-gray-50">
            <Image
              src={`/home/experiences/${exp.logo}`}
              alt={exp.enterprise}
              width={48}
              height={48}
              fit="contain"
              background="rgba(255,255,255,0)"
              format={exp.logo.includes('.svg') ? 'svg' : 'png'}
            />
            <div>
              <h3 class="w-min text-lg font-bold">{exp.title}</h3>
              <a href={exp.link} class="hover:underline">
                <h4 class="text-sm text-zinc-600 dark:text-zinc-400">
                  {exp.enterprise}
                </h4>
              </a>
            </div>
          </div>
          <div class="mt-8 text-center text-sm text-zinc-600 dark:text-zinc-300">
            {exp.date}
          </div>
        </article>
      ))
    }
  </div>
</section>

<style lang="scss">
  article {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: auto;
      bottom: 2rem;
      width: 100%;
      height: 2px;
      background-color: #61616a;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(2rem - 8px);
      width: 20px;
      height: 20px;
      border-radius: 999vw;
      background-color: #fff;
      border: 2px solid #61616a;
    }
    .dark &::before {
      background-color: rgb(209 213 219);
    }
    .dark &::after {
      background-color: rgb(17 24 39);
      border: 2px solid rgb(209 213 219);
    }
  }
</style>

<script>
  import { gsap } from 'gsap';

  gsap.from('#experiences article .content', {
    scrollTrigger: {
      trigger: '#experiences article',
      start: 'top 90%',
    },
    y: 100,
    opacity: 0,
    duration: 0.5,
    stagger: 0.2,
  });

  gsap.fromTo(
    '#experiences h1',
    {
      '--tw-gradient-to-position': 180,
      ease: 'none',
    },
    {
      scrollTrigger: {
        trigger: '#experiences',
        start: '20% bottom',
        end: 'bottom bottom',
        scrub: true,
      },
      '--tw-gradient-to-position': 20,
      ease: 'none',
    }
  );
</script>
