---
import svgIcon from '~/assets/favicon.svg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

export type NavigationLink = {
  href: string;
  label: string;
};

export type Props = {
  links: NavigationLink[];
  base: string;
  animationDelay: number;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { links, base, animationDelay } = Astro.props;
---

<header class="fixed top-0 isolate z-30 w-full text-sm">
  <nav
    class="mx-auto mt-0 hidden w-max items-center justify-center rounded-b-lg border border-gray-50 border-opacity-10 bg-slate-50 bg-opacity-50 px-3 py-2 shadow-sm backdrop-blur-lg dark:bg-slate-800 dark:bg-opacity-70 md:flex"
    data-animation-delay={animationDelay}
  >
    <a class="relative" href={base} aria-label="Raphaël Catarino logo">
      <img
        src={svgIcon.src}
        alt="Raphaël Catarino logo"
        width={32}
        height={32}
      />
    </a>
    <ul class="ml-6 flex items-center gap-6">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class="text-gray-800 hover:text-gray-600 dark:text-gray-100"
            >
              {link.label}
            </a>
          </li>
        ))
      }
      <li>
        <button
          class="text-gray-800 hover:text-gray-600 dark:text-gray-100"
          id="contactFormButton"
        >
          {t('nav.contact')}
        </button>
      </li>
    </ul>
  </nav>
</header>
<script>
  import { gsap } from 'gsap';

  gsap.from('nav', {
    y: -100,
    opacity: 0,
    duration: 1,
    delay: document.querySelector('nav')?.dataset.animationDelay,
    ease: 'power4.out',
  });

  document
    .querySelector('#contactFormButton')
    ?.addEventListener('click', () => {
      document
        .querySelector<HTMLDialogElement>('#contactFormDialog')
        ?.showModal();
    });
</script>
