---
import { Image } from 'astro:assets';
import svgIcon from '~/assets/favicon.svg';
import ContactButton from '~/components/contact/ContactButton.tsx';
import { getLangFromUrl } from '~/i18n';

export type NavigationLink = {
  href: string;
  label: string;
};

export type Props = {
  links: NavigationLink[];
  base: string;
  animationDelay: number;
};

const lang = getLangFromUrl(Astro.url);

const { links, base, animationDelay } = Astro.props;
---

<header class="fixed top-0 isolate z-30 w-full">
  <nav
    class="mx-auto mt-2 flex hidden w-max items-center justify-center rounded-xl border border-gray-50 border-opacity-10 bg-slate-50 bg-opacity-50 px-3 py-2 shadow-sm backdrop-blur-lg dark:bg-slate-800 dark:bg-opacity-70"
    data-animation-delay={animationDelay}
  >
    <a
      class="relative hidden md:block"
      href={base}
      aria-label="Raphaël Catarino logo"
    >
      <Image src={svgIcon} alt="Raphaël Catarino logo" width="28" height="28" />
    </a>
    <ul class="flex items-center gap-4 text-sm md:ml-4">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class="text-gray-800 transition-colors hover:text-gray-600 dark:text-gray-300 dark:hover:text-gray-200"
            >
              {link.label}
            </a>
          </li>
        ))
      }
      <!-- <li>
        <ContactButton client:idle lang={lang} />
      </li> -->
    </ul>
  </nav>
</header>

<style>
  @keyframes appear-nav {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  nav {
    animation: appear-nav 0.5s forwards var(--ease-out-3);
  }
</style>

<script>
  window.addEventListener('scroll', () => {
    const nav = document.querySelector('nav');
    if (nav) {
      nav.classList.remove('hidden');
    }
  });
</script>
